<div class="nav">
    <div class="nav__logo-box">
        <i class="fa-solid fa-tree nav__logo"></i>
    </div>
    <nav class="nav__navigation btn">
        <ul class="nav__list">
            <li class="nav__item"><a href="{{ url_for('home') }}" class="nav__link"><i class="fa-solid fa-house"></i><span>Home</span></a></li>
            <li class="nav__item"><a href="#main" class="nav__link"><i class="fa-solid fa-camera"></i><span>Try It Out</span></a></li>
            <li class="nav__item"><a href="{{ url_for('login') }}" class="nav__link"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>SignIn</span></a></li>
            <li class="nav__item"><a href="{{ url_for('register') }}" class="nav__link"><i class="fa-solid fa-user-plus"></i><span>SignUp</span></a></li>
        </ul>
    </nav>
</div>